
<launch>
  <include file="$(find shaigalit_sim)/launch/empty_world.launch">
    <!--arg name="world_name" value="$(find jackal-custom)/worlds/rolling_landscape_120m_custom.world"/-->
    <arg name="world_name" value="$(find shaigalit_sim)/Worlds/cylinders_world.world"/>
  </include>
  <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
    <!-- Optionally configure the spawn position -->
    <arg name="x" default="0" />
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="yaw" default="0"/>
  </include>
</launch>